*{
    text-decoration: none;
    box-sizing: border-box;
    font-family: verdana;
}
body{
    background: linear-gradient(100deg, gold, grey);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0;
}
.login-container{
    background: rgb(6, 221, 192);
    padding: 55px 25px;
    border-radius: 15px;
    box-shadow: 3px 0 5px black;
}
.login-container h2{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 20px;
}
.form-group input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    outline-style: initial;
}
.form-group label{
    display: block;
    margin-bottom: 5px;
}

#btn {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 900;
    position: absolute;
    transition: top 0.3s, left 0.3s;
    cursor: pointer;
    background-color: rgb(98, 0, 255);
    border: none;
    border-radius: 4px;
    transition: transform 0.8s ease;
}
#btn:disabled{
    background: grey;
    cursor: not-allowed;
}