.hero{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, rgb(175, 29, 29) 10%, rgba(22, 22, 22, 0.719) 50%), url('../../assets/library.png');
}
.hero-text{
    text-align: center;
    max-width: 700px;
}
.hero-text h1{
    font-size: 50px;
    font-weight: 800;
    text-transform: capitalize;
}
.hero-text p{
    max-width: 700px;
    font-size: 25px;
    margin: 10px auto 20px;
    line-height: 1;
}

@media (max-width: 850px) {
    .hero-text h1{
        font-size: 35px;
    }
}
@media (max-width: 650px) {
    .hero-text h1{
        font-size: 27px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p{
        font-size: 12px;
        margin: 15px auto 23px;
        padding-left: 5%;
        padding-right: 5%;
        line-height: 1.2;
    }
}