.title{
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    margin: 70px 0 30px;
    letter-spacing: 0.6px;
    color: rgb(175, 29, 29);
    text-transform: uppercase;
}
.title h2{
    font-size: 32px;
    margin-top: 5px;
    text-transform: none;
    color: black;
}