.scrolltotop{
    top: 85%;
    right: 0;
    width: 70px;
    animation: appear;
    animation-timeline: scroll(y);
    cursor: pointer;
    background: rgba(223, 210, 210, 0.753);
    backdrop-filter: blur(15px);
    border-radius: 70px;
    z-index: 2;
}

@keyframes appear {
    0%{
        opacity: 0;
        display: none;
        position: fixed;
    }
    3%{
        opacity: 0;
        display: none;
    }
    3.5%{
        opacity: 1;
        display: block;
    }
    100%{
        opacity: 1;
        display: block;
        position: fixed;
    }
}

@media (max-width: 700px) {
    .scrolltotop{
        width: 40px;
    }
}