@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    font-family:  "Permanent Marker" cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
body{
    scroll-behavior: smooth;
}
.container{
    padding-left: 8%;
    padding-right: 8%;
}
.paddings{
    margin-left: 4.6%;
    padding-left: 4.6%;
}
.center{
    margin-left: 6.5%;
    padding-left: 6.5%;
}