.testimonials{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}
.next-btn, .prev-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}
.prev-btn{
    right: auto;
    left: 0;
}
.slider{
    overflow: hidden;
}
.slider ul{
    display: flex;
    overflow-x: hidden;
    width: 500%;
    transition: 1s;
}
.slider li{
    list-style: none;
    width: 100%;
    padding: 20px;
}
.slide{
    box-shadow: 1px 2px 3px  rgb(156, 21, 21);
    padding: 30px;
    border-radius: 20px;
    line-height: 1.4;
    background: rgb(204, 195, 195);
}
    
.slide img{
    width: 70px;
    border-radius: 50%;
    border: 4px solid rgb(255, 0, 0);
    margin-right: 10px;
}
.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 17px;
}
.user-info h3{
    color: rgb(204, 30, 30);
    font-weight: 750;
    font-size: 20px;
}
.user-info span{
    font-weight: 550;
}

@media (max-width: 800px) {
    .testimonials{
        padding: 0 40px;
    }
    .next-btn, .prev-btn{
        padding: 10px;
        width: 35px;
    }
    .testimonials ul li{
        padding: 7px;
    }
    .slide{
        padding: 10px;
    }
    .slide img{
        width: 50px;
        border: 2px solid rgb(255, 0, 0);
    }
}
@media (max-width: 600px) {
    .user-info{
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .user-info h3{
        font-size: 14px;
        font-weight: 800;
    }
    .slider p{
        font-size: 12px;
    }
}