.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.about-left{
    flex-basis: 40%;
    position: relative;
}
.about-right{
    flex-basis: 55%;
    margin: 10px 0;
}
.about-img{
    width: 170%;
    border-radius: 15px;
}
.play-icon{
    width: 50px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100px;
    transform: translate(-50%, -50%);
}
.about h2{
    font-weight: 900;
    font-size: 20px;
    color: rgb(175, 29, 29);
}
.about h3{
    font-weight: 800;
    font-size: 25px;
    margin: 15px 0;
    max-width: 400px;
}
.about p{
    margin-bottom: 15px;
}

@media (max-width: 800px) {
    .about{
        flex-direction: column;
    }
    .about-left{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .about-right{
        flex-basis: 100%;
    }
}