.contact{
    margin: 90px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-col{
    flex-basis: 45%;
}
.contact-col img{
    width: 25px;
    margin-right: 10px;
}
.contact-col h3{
    color: rgb(255, 0, 0);
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: -25%;
}
.contact-col p{
    max-width: 450px;
    font-weight: 600;
}
.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-weight: 600;
}
.contact-col label{
    font-weight: 700;
}
.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background: rgb(223, 212, 212);
    backdrop-filter: blur(40px);
    padding: 10px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    border-radius: 10px;
    resize: none;
    font-weight: 500;
    margin-top: 10px;
}
.contact-col span{
    display: block;
    margin: 20px 0;
    font-weight: 600;
}

@media (max-width: 700px) {
    .contact{
        display: block;
    }
    .contact-col{
        padding: 18px;
    }
}