.programs{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.program img{
    width: 100%;
    border-radius: 30px;
    display: block;
}
.program{
    flex-basis: 29%;
    position: relative;
}
.caption{
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(216, 201, 201, 0.637);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #020101;
    font-weight: 1000;
    font-size: 23px;
    cursor: pointer;
    padding-top: 60%;
    opacity: 0;
}
.caption img{
    width: 50px;
    margin-bottom: 10px;
}
.program:hover .caption{
    opacity: 1;
    padding-top: 0;
    transition: 0.8s all ease;
}

@media (max-width: 650px) {
    .programs{
        flex-direction: column;
    }
    .program{
        flex-basis: 100%;
        margin: 20px;
    }
}